@import url("bootstrap.min.css");
/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
}
#es5{
	margin-top: 5%;	
}
#inicio {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #ed8e99;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#logo{
	animation-name: lo;
	animation-duration: 1.5s;	
} 

@keyframes lo{
	from{
		margin-left: 300%;
		transform: rotateY(180deg); 
		transform: rotate(360deg); 
	}	
}

#bol{
	animation-name: bol;
	animation-duration: 2s;	
	animation: linear infinite;
} 

@keyframes bol{
	from{		
		transform: rotateY(180deg); 
		transform: rotateX(360deg); 
	}	
	
}


.cover-container {
  max-width: 42em;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #ffe3ef;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  color: #fff;
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*r 
 * Footer
 */
.mastfoot {
  color: #ffe3ef;
}
#fu{
	color: #fadcf9;
	background-color: #fc034e;
  	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}